<h1>Questions Index</h1>
<table>
  <% @questions.each do|question| %>
    <tr bgcolor= "<%= cycle('grey', 'white') %>">
      <td>
        <dl>
          <dt>
            <a href="<%= url_for question %>"><%= question.text %></a>
          </dt>
        </dl>
      </td>
    </tr>
  <% end %>
</table>