<div class="footer">
  <div class="author">
    <h1>Информация об авторе</h1>
    <p>Автор: <a target="_blank" href="http://github.com/beherit1977">Бурмистров Сергей</a></p>
    <p>Ссылка на github проекта: <%= github_url('beherit1977', 'testguru2') %></p>
  </div>

  <div class="about_project">
    Простые тесты.
    <a target="_blank" href="http://thinknetica.com">"Учебный проект в онлайн-школе Thinknetica"</a>
  </div>

  <div class="current_year">
    <%= current_year %> год.
  </div>
<div>
