<footer class="footer">
  <div class="container">
    <h1>Author Information</h1>
    <p>Автор: <a target="_blank" href="http://github.com/beherit1977">Ekaterina Egorova</a></p>
    <p>Link to github: <%= github_url('beherit1977', 'testguru2') %></p>
  </div>


    Sample Tests.
    <a target="_blank" href="http://thinknetica.com">"Educational project in an online school Thinknetica"</a>

    <%= current_year %> год.
</footer>
