<!--фрагмент коллекции tests-->
<tr align="center">
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  </td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
